body{
    font-family: "Righteous", serif;
    font-weight: 400;
    font-style: normal;
}
.hero-input::placeholder{
    font-size: .60rem;
    color: black;

}
.hero-search button{

position:relative;
right:75;
}
.hero-bg{
    
        background-image: url('/assets/images/Ellipse 8324.png');
        background-position: 1% 53%;
        background-size: cover;
        background-repeat: no-repeat;
}

.f-9{
    font-size: 9px; 
}
.play-btn{
    left: 44rem;
    position: relative;
    bottom: 50rem;
}
.videodesign{
    position: relative;
    left: 73rem;
    bottom:15rem
}
.center-card{
    margin-top:-5rem;
}